/*-------------- 
  common style 
--------------*/
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
/*------------- 
   nav style 
-------------*/
nav>a{
    text-decoration: none;
    font-size: 30px;
    color:black;
    margin-left: 70px;
}

/*------------------ 
  top-banner style 
------------------*/
.top-banner{
    display: flex;
}
.half-width{
    width: 40%;
    margin: 5%;
}
.half-width img{
    width: 100%;
    margin-top: -50px;
}
.half-width img:hover{
    transform: translate(20px, 30px);
}
.link-button{
    text-decoration: none;
    border: 0px solid ;
    background-color: crimson;
    padding: 8px 25px;
    border-radius: 25px;
    color: white;
}
/*------------------------ 
  collection-banner style
-------------------------*/
.collections-banner{
    margin: 0%;
    padding: 50px;
}
.collections-banner h2{
    text-align: center;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.collection{
    border: 0px solid white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 15px gray;
}
.collection img{
    width: 100%;
}
.collection-link{
    color: rgb(238, 6, 122);
    text-decoration: none;
    margin-left: 1000px;
}

/*----------------------- 
   bottom-banner style 
-----------------------*/
.bottom-banner{
    display: flex;
}
/*---------------- 
   footer style 
-----------------*/
footer{
    background-color: black;
    color: white;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
footer>ul{
    display: flex;
    justify-content: center;
}
footer>ul>li{
    list-style: none;
    padding: 5px;
    
}

/*-----------------
    Media queries 
 -----------------*/
 /* Mobile Phone */
 @media only screen and (max-width:576px) {
    nav{
        text-align: center;
    }
    .top-banner{
        flex-direction: column;
    }
    .top-banner img{
        width: 100%;
        margin-top: 5px;
    }
    .link-button{
        font-size: 8px;
        padding: 5px 10px;
        border-radius: 10px;
    }
    .collections{
        grid-template-columns: repeat(1, 1.6fr);
        text-align: center;
    }
    .bottom-banner{
        flex-direction: column;
    }
   
     
}

/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {
   .container{
       width: 100%;
   }
   .players, .courses{
       grid-template-columns: repeat(2, 1fr);
       
   }
   .blogs{
       grid-template-columns: repeat(1, 1fr);
   }
   .blog{
       flex-direction: column;
       align-items: center;
   }
}
