/*-------------- 
  common style 
--------------*/
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
/*------------- 
   nav style 
-------------*/
nav>a{
    text-decoration: none;
    font-size: 30px;
    color:black;
    margin-left: 70px;
}

/*------------------ 
  top-banner style 
------------------*/
.top-banner{
    display: flex;
}
.half-width{
    width: 40%;
    margin: 5%;
}
.half-width img{
    width: 100%;
    margin-top: -50px;
}
.link-button{
    text-decoration: none;
    border: 0px solid ;
    background-color: crimson;
    padding: 8px 25px;
    border-radius: 25px;
    color: white;
}
/*------------------------ 
  collection-banner style
-------------------------*/
.collections-banner{
    margin: 0%;
    padding: 100px;
}
.collections-banner h2{
    text-align: center;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.collection{
    border: 0px solid white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 15px gray;
}
.collection img{
    width: 100%;
}
.collection-link{
    color: rgb(238, 6, 122);
    text-decoration: none;
    margin-left: 1000px;
}

/*----------------------- 
   bottom-banner style 
-----------------------*/
.bottom-banner{
    display: flex;
}
/*---------------- 
   footer style 
-----------------*/
footer{
    background-color: black;
    color: white;
    height: 200px;
    text-align: center;
}
footer>ul{
    display: flex;
    text-align: center;
    justify-content: center;
}
footer>ul>li{
    list-style: none;
    margin:5px;
    padding: 5px;
}
